{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="breadcumb-area bg-img-5 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>О нас</h2>
                        <ul>
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li>/</li>
                            <li class="active">О нас</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-area bg-1">
        <div class="container">
            <div class="row">
                {% for article in articles %}
                    <div class="col-xs-12 col-sm-6">
                        <div class="blog-wrap">
                            <div class="blog-img">
                                <img src="{{ article.image.url }}" alt="">
                            </div>
                            <div class="blog-content">
                                <ul></ul>
                                <h3>{{ article.title }}.</h3>
                                <p>{{ article.content|truncatewords_html:40|safe }}</p>
                                <a href="{{ article.get_absolute_url }}">Читать <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
