{% extends 'base.html' %}

{% block content %}
    <div class="breadcumb-area bg-img-5 black-opacity">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb-wrap text-center">
                        <h2>Мастера </h2>
                        <ul>
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li>/</li>
                            <li class="active">Мастера</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-area bg-2">
        <div class="container">
            <div class="row">
                {% for master in masters %}
                <div class="col-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="team-wrap">
                        <div class="team-img">
                            <img src="{{ master.image.url }}" alt="">
                            <div class="team-icon">
                                <ul>
                                    {% if master.vk %}
                                        <li><a href="{{ master.vk }}"><i class="fa fa-vk"></i></a></li>
                                    {% endif %}
                                    {% if master.instagram %}
                                        <li><a href="{{ master.instagram }}"><i class="fa fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if master.telegram %}
                                        <li><a href="{{ master.telegram }}"><i class="fa fa-paper-plane"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <a href="{{ master.get_absolute_url }}"><h3>{{ master.name }}</h3></a>
                            <p>Тату-мастер</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="tetsmonial-area bg-1 ptb-130">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="test-active">
                        <div class="test-items text-center">
                            <div class="test-img">
                                <img src="assets/images/test/1.png" alt="">
                            </div>
                            <h2>Dele Herera</h2>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum metus quis condimentum auctor. Maecenas eu urna vel turpis lacinia consectetur. Proin ornare convallis erat. <i class="fa fa-quote-right"></i> </p>
                        </div>
                        <div class="test-items text-center">
                            <div class="test-img">
                                <img src="assets/images/test/2.png" alt="">
                            </div>
                            <h2>Alex Smit</h2>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum metus quis condimentum auctor. Maecenas eu urna vel turpis lacinia consectetur. Proin ornare convallis erat. <i class="fa fa-quote-right"></i> </p>
                        </div>
                        <div class="test-items text-center">
                            <div class="test-img">
                                <img src="assets/images/test/3.png" alt="">
                            </div>
                            <h2>Pedro Herera</h2>
                            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum metus quis condimentum auctor. Maecenas eu urna vel turpis lacinia consectetur. Proin ornare convallis erat. <i class="fa fa-quote-right"></i> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fanfact-area black-opacity bg-img-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="fanfact-wrap">
                        <div class="fanfact-content">
                            <h2>AWARD </h2>
                            <h3 class="counter">2498</h3>
                        </div>
                        <div class="fanfact-icon">
                            <i class="fa fa-trophy"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="fanfact-wrap">
                        <div class="fanfact-content">
                            <h2>REVIEWS</h2>
                            <h3 class="counter">1937</h3>
                        </div>
                        <div class="fanfact-icon">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="fanfact-wrap">
                        <div class="fanfact-content">
                            <h2>TATTOOS </h2>
                            <h3 class="counter">5471</h3>
                        </div>
                        <div class="fanfact-icon">
                            <i class="fa fa-database"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}