{% load static %}

<footer class="footer-area bg-2">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget footer-content">
                        <h2>About US</h2>
                        <p>Nullam nisi nibh, semper ut diam nec, ornare facilisis ex. Morbi ac augue lacus. Class aptent taciti sociosqu ad </p>
                        <ul>
                            <li><i class="fa fa-phone"></i> +1 234 56 789 </li>
                            <li><i class="fa fa-fax"></i> +84 (1) 234 567 891 </li>
                            <li><i class="fa fa-envelope"></i> Info@yourmail.com</li>
                            <li><i class="fa fa-map-marker"></i> 124 Your Address, Your City</li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget footer-time">
                        <h2>Our Working Time</h2>
                        <ul>
                            <li>MON <span class="pull-right">08:30 AM - 10:30 PM</span></li>
                            <li>TUE <span class="pull-right">08:30 AM - 10:30 PM</span></li>
                            <li>WED <span class="pull-right">08:30 AM - 10:30 PM</span></li>
                            <li>THU <span class="pull-right">08:30 AM - 10:30 PM</span></li>
                            <li>FRI <span class="pull-right">08:30 AM - 10:30 PM</span></li>
                            <li>SAT <span class="pull-right color">Weekend</span></li>
                            <li>SUN <span class="pull-right color">Weekend</span></li>

                        </ul>
                    </div>
                </div>
                <div class="col-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-widget footer-menu">
                        <h2>Short Link</h2>
                        <ul>
                            <li><a href="service.html">Service </a></li>
                            <li><a href="about.html">About US </a></li>
                            <li><a href="#">Booking </a></li>
                            <li><a href="shop.html">Shop </a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="blog.html">Latest News</a></li>
                            <li><a href="blog.html">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget instragram">
                        <h2>Short Link</h2>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/1.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/2.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/3.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/4.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/5.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/6.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/7.jpg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'images/instragram/8.jpg' %}" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">ToDD</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="socil-media-icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>